/* Style for the loading screen */
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.007); /* Semi-transparent white background */
    backdrop-filter: blur(8px); /* Blurred background effect */
    z-index: 1000; /* Ensure the loading overlay is on top of other elements */
  }
  
  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light border color for spinner */
    border-radius: 50%;
    border-top-color: #333; /* Dark color for spinner */
    animation: spin 1s linear infinite; /* Rotate animation for spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  