body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding: 20px;
  }
  
  .candidate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 1000px;
    background-color: #cbcbcb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 0.5% auto;
  }
  
  .candidate:hover {
    transform: scale(1.05);
  }
  
  .candidate button {
    margin-left: auto;
    background-color: #45a049a4;
    color: #cbcbcb;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .candidate button:hover {
    background-color: #45a049;
    color: #fff
  }
  
  #totalVotes {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.5s ease-in-out forwards;
  }
  